# Entorno virtual
venv/

# Archivos de base de datos (desarrollo)
*.db
database.db

# Variables de entorno
.env

# Archivos de traducción y temporales
*.mo
*.pot
__pycache__/
*.py[cod]

# Sistema
.DS_Store

# apuntes
borrar.txt