:root {
    --light-bg: #ffffff;
    --light-text: #000000;
    --dark-bg: #1a1a1a;
    --dark-text: #f5f5f5;
}

/* Tema claro (por defecto) */
body[data-theme="light"] {
    background-color: var(--light-bg);
    color: var(--light-text);
}

/* Tema oscuro */
body[data-theme="dark"] {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Transición suave */
body {
    transition: background-color 0.3s, color 0.3s;
}

.form-label-hint {
    font-size: 0.8rem;
}

.flash-input {
    animation: flashBorder 0.4s ease-in-out;
}

@keyframes flashBorder {
    0% { box-shadow: 0 0 0px rgba(0, 123, 255, 0); }
    50% { box-shadow: 0 0 6px rgba(0, 123, 255, 0.6); }
    100% { box-shadow: 0 0 0px rgba(0, 123, 255, 0); }
}

.text-theme-muted {
    color: #6c757d; /* Gris Bootstrap clásico */
}

body[data-theme="dark"] .text-theme-muted {
    color: #f5f5f5; /* Texto claro para fondo oscuro */
}


.dashboard-wrapper {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    border: 1px solid #dee2e6;
}
body[data-theme="dark"] .dashboard-wrapper {
    background-color: #212529;
    border: 1px solid #444;
}

.group-card {
    border-radius: 0.75rem;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: var(--light-bg);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

[data-theme="dark"] .group-card {
    background-color: #2c2c2c;
    color: var(--dark-text);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.group-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}


.group-code-text {
    color: #495057; /* color neutro para tema claro */
}

body[data-theme="dark"] .group-code-text {
    color: #dcdcdc; /* gris claro para tema oscuro */
}
