{% extends "base.html" %}

{% block content %}

<div class="container-fluid px-4 pt-3">
    <a href="/" class="btn btn-outline-secondary btn-sm">
        ← {{ _('Volver') }}
    </a>
</div>

<div class="container py-1">
    <h2 class="text-center mb-4">{{ _('Ingresa el código de tu estado') }}</h2>

    <form method="get" class="d-flex justify-content-center">
        <input type="text" name="codigo" class="form-control w-50 me-2" placeholder="{{ _('Ej: 1614 o R-1213') }}" required>
        <button type="submit" class="btn btn-primary">{{ _('Buscar') }}</button>
    </form>

    {% if codigo_encontrado %}
        <div class="alert alert-success mt-4 text-center">
            {{ _('Grupo encontrado con el código:') }} <strong>{{ codigo_encontrado }}</strong>
        </div>
    {% endif %}
</div>
{% endblock %}
